<%= render "layouts/navbar", link: "/", digital: false %>

<div id="scene-list">
  <% if @products.empty? %>
    <%= render partial: 'scene', collection: @scenes, cached: true %>
  <% else %>
    <%= render partial: 'sceneProduct', collection: @products, cached: true %>
  <% end %>
</div>

<div data-toggle="modal" data-target="#modalNeelofa" id="tap-follower">
  
</div>

<%= render "modalPromo" %>
<%= render "modalNeelofa" %>

<footer>
  <%= link_to("https://www.facebook.com/Find-It-111053949615332/") do %>
    <%= image_tag "fblogo.png" %>
  <% end %>
</footer>
