<%= content_for :navbar do %>
  <%= render 'layouts/dropdown', categories: @categories %>
<% end %>

<div class="container" id="video-list">
  <%= render @videos %>
</div>
<div id="infinite-scrolling">
  <%= paginate @videos %>
</div>

<span id="scroll_counter" style="color: white;">0</span>
<footer>
  <%= image_tag "fblogo.png" %>
</footer>
