<%= content_for :navbar do %>
  <%= render 'layouts/dropdown', categories: @categories %>
<% end %>

<div class="container" id="video-list">
  <%= render @videos %>
</div>
<div id="infinite-scrolling">
  <%= paginate @videos %>
</div>

<footer>
  <%= link_to("https://www.facebook.com/Find-It-111053949615332/") do %>
    <%= image_tag "fblogo.png" %>
  <% end %>
</footer>
