<%= content_for :navbar do %>
<li class="dropdown">
  <a class="dropdown-toggle category" data-toggle="dropdown" href="#">Category
  <span class="caret"></span></a>
  <ul class="dropdown-menu category-dropdown">
    <% @categories.each do |category| %>
      <li>
        <%= link_to category, videos_path(category: category) %>
      </li>
    <% end %>
  </ul>
</li>
<% end %>

<div class="container">
  <% @videos.each_slice(3) do |video_group| %>
  <div class="row">
    <% video_group.each do |video| %>
    <div class="col-md-4">
      <%= link_to video do %>
        <div class="video-block">
          <div class="video-thumbnail" style="background-image: url(<%= video.picture %>)"></div>
          <div class="video-title">
            <%= video.title %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<span id="scroll_counter" style="color: white;">0</span>
