
<%= render 'layouts/navbar', categories: @categories, link: "/videos", digital: true %>

<div class="programme-page">

<div class="youtube-player">
  <div class="video_player_container">
    <div class="plyrr">
      <% if @video.video_link =~ /youtube/ %>
        <div class="plyr" data-type="youtube" data-video-id="<%= @video.video_link %>"></div>
      <% else %>
        <video controls>
          <source src="<%= @video.video_link %>" type="video/mp4">
        </video>
      <% end %>
      <div class="product-list-container egg-panel">
        <div class="tooltip"></div>
        <div id="on-screen-product"></div>
        <div class="product-list">
          <% @products.each do |product| %>
          <div>
            <div class="product-list-row" data-appear-at="<%= product.appeared_at_in_sec %>" data-product-id="<%= product.id %>">
              <div class="product-thumbnail">
                <div class="product_picture" style="background-image: url(<%= product.picture %>)"></div>
              </div>
              <div class="product-details">
                <p class="on-screen">On Screen:</p>
                <h3><%= product.title %></h3>
                <% if product.appeared_at != "0:00" %>
                <h6>Appeared at:
                  <%= product.appeared_at %>
                </h6>
                <% end %>
                <h6 style="display: none;">RM
                  <%= product.price %>
                </h6>
              </div>
            </div>

          </div>
          <% end %>

          <div style="display: flex; align-items: center; justify-content: center;">
            <button type="button" class="btn seemore-btn">See More Products</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="video-list-container">
  <h3 class="similar-video-title">Similar TV Shows</h3>
  <div class="video-list">
    <% @all_other_video.each do |video| %>
      <%= link_to video_path(id: video.id, j: true) do %>
        <div class="video-list-row">
          <div class="video-thumbnail">
            <div class="video_picture" style="background-image: url(<%= video.picture %>)"></div>
            <!-- <img class="video_picture" src="<%= video.picture %>"> -->
            <h6><%= video.duration %></h6>
          </div>
          <div class="video-details">
            <h6><%= video.title %></h6>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>


</div>
<%= render "products/modal" %>
<span id="scroll_counter" style="color: black;">0</span>
<span id="view_id" style="color: black;"><%= @view.id %></span>
