<div class="programme-page">

<div class="youtube-player">
  <div class="video_player_container">
    <!-- <span> -->
    <div class="plyrr">
      <div class="tooltip"></div>
      <div class="plyr" data-type="youtube" data-video-id="<%= @video.video_link %>"></div>
      <div class="product-list-container egg-panel">
    <div class="product-list">
      <% @products.each do |product| %>
      <%= link_to videos_click_product_path(view_id: @view.id, product_id: product.id), method: 'post', target: "_blank" , class: "productlist-row", data: { product_id: product.id } do %>
      <div class="product-list-row">
        <div class="product-thumbnail">
          <div class="product_picture" style="background-image: url(<%= product.picture %>)"></div>
        </div>
        <div class="product-details">
          <p class="on-screen">On Screen:</p>
          <h3><%= product.title %></h3>
          <% if product.appeared_at != "0:00" %>
          <h6>Appeared at:
            <%= product.appeared_at %>
          </h6>
          <% end %>
          <h6 style="display: none;">RM
            <%= product.price %>
          </h6>
        </div>
      </div>
      <% end %>
      <% end %>

      <div style="display: flex; align-items: center; justify-content: center;">
        <button type="button" class="btn seemore-btn">See More Products</button>
      </div>

    </div>
  </div>
    </div>
    <!-- </span> -->
  </div>
</div>


<div class="video-list-container">
  <h3 class="panel-title">Similar TV Shows</h3>
  <div class="video-list">
    <% @all_other_video.each do |video| %>
      <%= link_to video_path(id: video.id, j: true) do %>
        <div class="video-list-row">
          <div class="video-thumbnail">
            <div class="video_picture" style="background-image: url(<%= video.picture %>)"></div>
            <!-- <img class="video_picture" src="<%= video.picture %>"> -->
            <h6><%= video.duration %></h6>
          </div>
          <div class="video-details">
            <h6><%= video.title %></h6>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>


</div>

<span id="scroll_counter" style="color: white;">0</span>
<span id="view_id" style="color: white;"><%= @view.id %></span>
