<div class="product_details">
  <div class="product_thumbnail">
    <div style="background-image: url(<%= product.picture %>)" class="product_picture"></div>
  </div>
  <h4><%= product.title %></h4>
  <p><span style="color: yellow;">Sizes:</span> <%= product.sizes %></p>
  <p><span style="color: yellow;">Colors:</span> <%= product.colors %></p>
</div>
<div class="actions">
  <%= link_to "Buy Now", product.product_link, class: 'btn', id: 'buy-btn', target: '_blank', data: {product_id: product.id} %>
  <%= link_to "Want an exact match?", exact_match_product_path(product), class: 'btn', remote: true %>
</div>

<script type="text/javascript">
    $( "#buy-btn" ).on('click', function() {
    $.ajax({
      type:'POST',
      url:'/click_product/',
      data: { view_id : $("#view_id").text(), product_id: $(this).attr("data-product-id") },
      success:function(){
        console.log("success");
      }
    });
  });
</script>