<ul class="nav" style="text-align: center;">
  <li class="dropdown">
    <a class="dropdown-toggle category" data-toggle="dropdown" href="#">Sort By
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu category-dropdown category-dropdown-scenes">
      <li class="dropdown-submenu">
        <%= link_to "Products", "#", class: "submenu-opener" %>
        <ul class="dropdown-menu">
          <li>
          <%= link_to "Red Velvet Ep.13", scenes_path(filter: true, type: "products", episode: 1) %>
          </li>
          <li>
          <%= link_to "Red Velvet Ep.14", scenes_path(filter: true, type: "products", episode: 2) %>            
          </li>
        </ul>
      </li>

      <li class="dropdown-submenu">
        <%= link_to "Scenes", "#", class: "submenu-opener" %>
        <ul class="dropdown-menu">
          <li>
          <%= link_to "Red Velvet Ep.13", scenes_path(filter: true, type: "scenes", episode: 1) %>
          </li>
          <li>
          <%= link_to "Red Velvet Ep.14", scenes_path(filter: true, type: "scenes", episode: 2) %>            
          </li>
        </ul>
      </li>

    </ul>
  </li>

  <li class="dropdown">
    <%= link_to "T&C", t_and_c_path, class: "dropdown-toggle category" %>
  </li>
</ul>
