<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag("finditlogo.png", class: "logo") %>
    </div>
    <ul class="nav navbar-nav">
      <%= yield :navbar %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= image_tag "fblogo.png", class: "social_logo" %></li>
      <li><%= image_tag "youtubelogo.png", class: "social_logo" %></li>
      <li><%= image_tag "twitterlogo.png", class: "social_logo" %></li>
    </ul>
  </div>
</nav>
