<!DOCTYPE html>
<html>
  <head>
    <title>Findit</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:title"              content="FindIt" />

  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>

    <% if Rails.env == "production" %>
      <%= render "layouts/footer" %>
    <% end %>

  </body>
</html>

<%= javascript_tag do%>
  $(window).on('beforeunload', function(){
    $.ajax({
      type:'POST',
      url:'/record_session_duration',
      data: { view_id : $("#view_id").text() },
      success:function(){
        //I assume you want to do something on controller action execution success?
        console.log("success");
      }
    });
    return undefined;
  });
<% end %>